<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark row">
    <div class="col-2 pr-0">
        <button type="button" class="btn btn-dark" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fa fa-bars fa-lg"></i>
        </button>
    </div>
    <div class="col-8 pl-0 pr-0 text-center">
        <div class="navbar-brand mr-0">
            <i class="fa fa-window-maximize fa-lg text-danger"></i> In App Browser
        </div>
    </div>
    <div class="col-2 pl-0 text-right">
        <a href="#plugins" class="btn btn-dark">
            <i class="fa fa-home fa-lg"></i>
        </a>
    </div>
</nav>
<div class="container-fluid" style="padding-top: 4.5rem;">
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-block btn-danger" id="openInAppBrowser"><i class="fa fa-play-circle"></i> Open In App Browser</button>
            <button type="button" class="btn btn-block btn-warning mt-3" id="closeInAppBrowser"><i class="fa fa-stop-circle"></i> Close In App Browser</button>
            <button type="button" class="btn btn-block btn-info mt-3" id="openInAppBrowserHidden"><i class="fa fa-toggle-right"></i> Open In App Browser Hidden</button>
            <button type="button" class="btn btn-block btn-dark mt-3" id="showInAppBrowserHidden"><i class="fa fa-toggle-up"></i> Show In App Browser Hidden</button>
        </div>
    </div>
</div>