<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark row">
    <div class="col-2 pr-0">
        <button type="button" class="btn btn-dark" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fa fa-bars fa-lg"></i>
        </button>
    </div>
    <div class="col-8 pl-0 pr-0 text-center">
        <div class="navbar-brand mr-0">
            <i class="fa fa-user fa-lg text-success"></i> 로그인
        </div>
    </div>
    <div class="col-2 pl-0 text-right">
        <a href="#plugins" class="btn btn-dark">
            <i class="fa fa-home fa-lg"></i>
        </a>
    </div>
</nav>
<div class="container-fluid" style="padding-top: 4.5rem;">
    <!-- <div class="row">
        <div class="col-12">
            <div class="alert alert-dark" role="alert">
                <p class="mb-0">로그인은 <b class="text-success">Push알람</b>을 설정하는데 필요합니다. 현재 임시계정으로 설정이 가능합니다.</p>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col-12">
            <div class="form-group row">
                <label for="un" class="col-4 col-form-label">Username</label>
                <div class="col-8">
                    <input type="text" id="un" class="form-control" name="username" placeholder="Username" value="222222" required="" autofocus="" />
                </div>
            </div>
            <div class="form-group row">
                <label for="pw" class="col-4 col-form-label">Password</label>
                <div class="col-8">
                    <input type="password" id="pw" class="form-control" name="password" placeholder="Password" value="1234" />
                </div>
            </div>
            <button id="login_btn" class="btn btn-lg btn-success btn-block mt-3">Login</button>
            <p class="text-dark mt-2"><i class="fa fa-lightbulb-o"></i> 로그인은 <b class="text-success">Push알람</b>을 설정하는데 필요합니다. 현재 임시계정으로 설정이 가능합니다.</p>
        </div>
    </div>
</div>