<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark row">
    <div class="col-2 pr-0">
        <button type="button" class="btn btn-dark" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fa fa-bars fa-lg"></i>
        </button>
    </div>
    <div class="col-8 pl-0 pr-0 text-center">
        <div class="navbar-brand mr-0">
            <i class="fa fa-video-camera fa-lg text-info"></i> Media Capture
        </div>
    </div>
    <div class="col-2 pl-0 text-right">
        <a href="#plugins" class="btn btn-dark">
            <i class="fa fa-home fa-lg"></i>
        </a>
    </div>
</nav>
<div class="container-fluid" style="padding-top: 4.5rem;">
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-block btn-info" id="capture_audio"><i class="fa fa-microphone"></i> Capture Audio</button>
            <button type="button" class="btn btn-block btn-dark mt-3" id="capture_image"><i class="fa fa-camera-retro"></i> Capture Image</button>
            <button type="button" class="btn btn-block btn-primary mt-3" id="capture_video"><i class="fa fa-video-camera"></i> Capture Video</button>
        </div>
    </div>
</div>