<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark row">
    <div class="col-2 pr-0">
        <button type="button" class="btn btn-dark" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fa fa-bars fa-lg"></i>
        </button>
    </div>
    <div class="col-8 pl-0 pr-0 text-center">
        <div class="navbar-brand mr-0">
            <i class="fa fa-google fa-lg text-primary"></i> GMobile
        </div>
    </div>
    <div class="col-2 pl-0 text-right">
    </div>
</nav>
<div class="container-fluid" style="padding-top: 4.5rem;">
    <!-- padding-top: 63px; padding-bottom: 56px; -->
    <div class="row">
        <div class="col-4">
            <a href="#battery" class="btn btn-block btn-primary">
                <i class="fa fa-battery fa-3x">
                </i>
                <div style="font-size: 11px;">
                    <br/>
                    Battery
                </div>
            </a>
        </div>
        <div class="col-4">
            <a href="#camera" class="btn btn-block btn-secondary">
                <i class="fa fa-camera fa-3x">
                </i>
                <br/>
                <div style="font-size: 11px;">
                    <br/>
                    Camera
                </div>
            </a>
        </div>
        <div class="col-4">
            <a href="#contacts" class="btn btn-block btn-success">
                <i class="fa fa-address-book fa-3x">
                </i>
                <div style="font-size: 11px;">
                    <br/>
                    Contacts
                </div>
            </a>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-4">
            <a href="#device" class="btn btn-block btn-danger">
                <i class="fa fa-tablet fa-3x">
                </i>
                <div style="font-size: 11px;">
                    <br/>
                    Device
                </div>
            </a>
        </div>
        <div class="col-4">
            <a href="#devicemotion" class="btn btn-block btn-warning">
                <i class="fa fa-arrows-alt fa-3x">
                </i>
                <div style="font-size: 11px;">
                    Device
                    <br/>
                    Motion
                </div>
            </a>
        </div>
        <div class="col-4">
            <a href="#deviceorientation" class="btn btn-block btn-info">
                <i class="fa fa-repeat fa-3x">
                </i>
                <div style="font-size: 11px;">
                    Device
                    <br/>
                    Orientation
                </div>
            </a>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-4">
            <a href="#dialogs" class="btn btn-block btn-dark">
                <i class="fa fa-clone fa-3x">
                </i>
                <div style="font-size: 11px;">
                    <br/>
                    Dialogs
                </div>
            </a>
        </div>
        <div class="col-4">
            <a href="#file" class="btn btn-block btn-primary">
                <i class="fa fa-file-o fa-3x">
                </i>
                <div style="font-size: 11px;">
                    <br/>
                    File
                </div>
            </a>
        </div>
        <div class="col-4">
            <a href="#geolocation" class="btn btn-block btn-secondary">
                <i class="fa fa-map-marker fa-3x">
                </i>
                <div style="font-size: 11px;">
                    <br/>
                    Geolocation
                </div>
            </a>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-4">
            <a href="#globalization" class="btn btn-block btn-success">
                <i class="fa fa-globe fa-3x">
                </i>
                <div style="font-size: 11px;">
                    <br/>
                    Globalization
                </div>
            </a>
        </div>
        <div class="col-4">
            <a href="#inappbrowser" class="btn btn-block btn-danger">
                <i class="fa fa-window-maximize fa-3x">
                </i>
                <div style="font-size: 11px;">
                    In App
                    <br/>
                    Brower
                </div>
            </a>
        </div>
        <div class="col-4">
            <a href="#media" class="btn btn-block btn-warning">
                <i class="fa fa-play-circle fa-3x">
                </i>
                <div style="font-size: 11px;">
                    <br/>
                    Media
                </div>
            </a>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-4">
            <a href="#mediacapture" class="btn btn-block btn-info">
                <i class="fa fa-video-camera fa-3x">
                </i>
                <div style="font-size: 11px;">
                    Media
                    <br/>
                    Capture
                </div>
            </a>
        </div>
        <div class="col-4">
            <a href="#networkinformation" class="btn btn-block btn-dark">
                <i class="fa fa-wifi fa-3x">
                </i>
                <div style="font-size: 11px;">
                    Network
                    <br/>
                    Information
                </div>
            </a>
        </div>
        <div class="col-4">
            <a href="#splashscreen" class="btn btn-block btn-primary">
                <i class="fa fa-image fa-3x">
                </i>
                <div style="font-size: 11px;">
                    Splash
                    <br/>
                    Screen
                </div>
            </a>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-4">
            <a href="#statusbar" class="btn btn-block btn-secondary">
                <i class="fa fa-sliders fa-3x">
                </i>
                <div style="font-size: 11px;">
                    Status
                    <br/>
                    Bar
                </div>
            </a>
        </div>
        <div class="col-4">
            <a href="#vibration" class="btn btn-block btn-success">
                <i class="fa fa-volume-control-phone fa-3x">
                </i>
                <div style="font-size: 11px;">
                    <br/>
                    Vibration
                </div>
            </a>
        </div>
        <div class="col-4">
            <a href="#stt" class="btn btn-block btn-danger">
                <i class="fa fa-microphone fa-3x">
                </i>
                <div style="font-size: 11px;">
                    <br/>
                    STT
                </div>
            </a>
        </div>
    </div>
    <hr/>
    <div class="row" style="margin-bottom: 15px;">
        <div class="col-4">
            <a href="#scan" class="btn btn-block btn-warning">
                <i class="fa fa-barcode fa-3x">
                </i>
                <div style="font-size: 11px;">
                    <br/>
                    Scan
                </div>
            </a>
        </div>
        <div class="col-4">
            <a href="#nfc" class="btn btn-block btn-info">
                <i class="fa fa-ticket fa-3x">
                </i>
                <div style="font-size: 11px;">
                    <br/>
                    NFC
                </div>
            </a>
        </div>
        <div class="col-4">
            <a href="#mocklocation" class="btn btn-block btn-dark">
                <i class="fa fa-map-o fa-3x">
                </i>
                <div style="font-size: 11px;">
                    Mock
                    <br/>
                    Location
                </div>
            </a>
        </div>
    </div>
</div>