<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark row">
    <div class="col-2 pr-0">
        <button type="button" class="btn btn-dark" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fa fa-bars fa-lg"></i>
        </button>
    </div>
    <div class="col-8 pl-0 pr-0 text-center">
        <div class="navbar-brand mr-0">
            <i class="fa fa-volume-control-phone fa-lg text-success"></i> Vibration
        </div>
    </div>
    <div class="col-2 pl-0 text-right">
        <a href="#plugins" class="btn btn-dark">
            <i class="fa fa-home fa-lg"></i>
        </a>
    </div>
</nav>
<div class="container-fluid" style="padding-top: 4.5rem;">
    <div class="row">
        <div class="col-12">
            <div class="form-group row">
                <label for="vibration_time" class="col-8 col-form-label">Vibration Time(Second)</label>
                <div class="col-4">
                    <input type="text" class="form-control" id="vibration_time" value="1">
                </div>
            </div>
            <button id="vibration" type="button" class="btn btn-block btn-success"><i class="fa fa-play-circle"></i> Vibration</button>
            </div>
        </div>
    </div>
</div>